.listing-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  margin: 0 auto;
  max-width: 70vw;
  height: 100vh;
}

.listing-edit > * {
  margin: 2em;
}

.edit-form {
  display: flex;
  flex-direction: column;
}

.edit-form > * {
  background-color: #fafafa;
  border: none;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0.5em;
  margin: 0.5rem 0;
  color: rgb(77, 77, 77);
  width: 100%;
}

.input-name {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 1000;
  font-family: "Roboto", sans-serif;
}

.input-price {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

.input-image-link {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}

.textarea-description {
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: "Noto sans jp", serif;
  overflow-y: auto;
  resize: none;
}

.save-button {
  width: 100%;
  margin-top: 0.7rem;
  margin-bottom: 25px;
  margin-left: 0.5em;
  height: 50px;
  border-radius: 4px;
  border: 2px solid rgb(214, 214, 214);
  padding-left: 0.5em;
  background: #456471;
  border: none;
  color: #fafafa;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: "Noto sans jp", sans-serif;
}

.save-button:hover {
  transition: all 0.3s ease-in-out;
  color: #456471;
  background-color: #fafafa;
  border: 2px solid #456471;
}

@media screen and (max-width: 1440px) {
  .listing-edit {
    flex-direction: column;
  }
}

@media screen and (max-width: 520px) {
  .edit-listing-image {
    display: none;
  }
  .listing-edit {
    max-width: 100vw;
    padding-top: 2em;
  }
}
