.form-container {
  margin: 0 auto;
  background: #ecf0f1;
  width: 350px;
  border-radius: 4px;
  box-shadow: 3px 3px 10px #333;
  padding: 15px;
}

@media screen and (max-width: 600px) {
  .form-container {
    width: 100%;
    top: 5em;
    height: 91%;
    box-shadow: none;
    border-radius: 0;
  }

  label {
    display: none;
  }
}
