.product-details {
  padding-top: 10em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 80vh;
  padding: 10em 10em 8em;
  margin: 0 auto;
}
.price-detail {
  margin-left: 5em;
}
.product-details > * {
  flex: 1 1 30em;
  width: 40em;
  margin: 0 2em;
}
.detail-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10em;
  width: 30em;
  background-color: #f5f8f9;
  margin-left: 1em;
}
.pd {
  min-height: 40em;
}

.listing-details-container > * {
  padding-top: 1em;
  max-width: 70%;
}

.details-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1em;
  margin-left: 7em;
}

.detail-description {
  margin-left: 2em;
  padding-right: 1em;
  line-height: 1.5;
  font-family: "Domine", serif;
  overflow-y: auto;
}

.detail-label {
  font-weight: bold;
  color: rgb(77, 77, 77);
  margin-left: 2em;
}

.detail-title {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0.5em 0;
  margin-left: 3em;
  color: rgb(77, 77, 77);
  font-weight: 1000;
  font-family: "Roboto", sans-serif;
}

.listing-details-container h5 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  color: rgb(77, 77, 77);
}

.listing-details-container p {
  font-size: 1.2rem;
  font-family: "Noto Sans JP", sans-serif;
}

.listing-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;

  align-self: center;
}

.listing-image {
  width: 100%;
}

.buy-button {
  text-align: center;
  padding: 1rem;
  margin: 2rem auto;
  border: 0;
  border-radius: 4px;
  width: 100%;
  background: #437daa;
  border: 1px solid transparent;
  text-transform: inherit;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.buy-button:hover {
  background: #fff;
  color: #19b296;
  border: 1px solid #19b296;
  text-transform: none;
  transition: all 0.3s ease-in-out;
}

.edit-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  margin-left: 7em;
}

.delete-button {
  color: #19b296;
  background-color: white;
  text-align: center;
  padding: 1rem;
  margin: 2rem auto;
  border: 0;
  border: 2px solid #19b296;
  border-radius: 4px;
  width: 45%;
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.delete-button:hover {
  color: #fff;
  background: #19b296;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.edit-button {
  text-align: center;
  padding: 1rem;
  margin: 2rem auto;
  border: 0;
  border-radius: 4px;
  width: 45%;
  background: #19b296;
  border: 2px solid transparent;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.edit-button:hover {
  color: #456471;
  border: 2px solid #456471;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.linebreak {
  display: none;
}

@media screen and (max-width: 1400px) {
  .product-details {
    padding: 10em 5em;
  }

  .detail-description {
    width: 100%;
  }

  .listing-details-container > * {
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .product-details {
    padding: 8em 0 2em;
  }

  .details-container {
    flex-direction: column;
  }

  .detail-description {
    margin-left: 0;
  }

  .detail-label {
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
  }

  .linebreak {
    display: block;
    margin-bottom: 1em;
  }
}
