.dropdown-menu {
  width: 10em;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  margin-top: -1em;
  margin-left: -1.3em;
}

.dropdown-menu li {
  background: #275b99;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.dropdown-hover:hover {
  background: #19b296;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

.user-info {
  color: #fff;
  padding: 16px;
  border-bottom: 1px solid #fff;
}

@media screen and (max-width: 1060px) {
  .fa-caret-down {
    display: none;
  }
}
